.mainPage {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  background-color: #121212;
  /* background-color: white; */
  margin-top: 160px;
}

.movieWithYearBlock {
  display: flex;
  flex-direction: column;
}
.yearHeader {
  align-self: start; /* Align text-child with the center of container2 */
  font-weight: 700;
  font-size: xx-large;
  color: white;
  margin-left: 16px;
  margin-bottom: 25px;
}

.movieList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
