.header {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  /* text-transform: uppercase; */
  background-color: #242424;
  font-family: "Bebas Neue", sans-serif;
  font-size: 5vw;
  padding-bottom: 15px;
  box-shadow: 0px 1px 5px black;
  color: #f0283c;
  z-index: 100;
}

@media (max-width: 1000px) {
  .header {
    padding-top: 15px;
    font-size: 6.4vw;
  }
}
