.header {
  display: flex;
  width: 100%;
  cursor: pointer;
  /* text-transform: uppercase; */
  background-color: #242424;
  /* background-color: white; */

  font-family: "Bebas Neue", sans-serif;
  font-size: 5vw;
  padding-left: 18px;
  color: #f0283c;
  z-index: 100;
}

@media (max-width: 1000px) {
  .header {
    padding-top: 15px;
    font-size: 6.4vw;
  }
}

.headerWithGenre {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  width: 100%;
  z-index: 100;
}
